.comu-theme {
  --bg: #dab690;
  --text-dark: #3a2e2a;
  --text-light: #fff7f0;
  --accent: #ffcf83;

  background-color: var(--bg);
  color: var(--text-dark);
}

body {
  font-family: "Inter", sans-serif;
}

/* HERO SECTION */

.comu-hero {
  height: 40vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("/imgs/comu-hero.JPG");

  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.comu-logo {
  width: min(60vw, 520px);
}

.comu-hero p {
  margin-top: -1rem;
  color: var(--accent);
  font-size: clamp(1rem, 2vw, 2rem);
  font-style: italic;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

/* INFO SECTIONS */
.info-section {
  width: calc(100% - 2rem);
  max-width: 900px;
  margin: 3rem auto;
  padding: 1rem 2rem 2rem;
  border: 3px solid var(--text-dark);
  border-radius: 10rem;
  text-align: center;
}

.info-section h2 {
  text-transform: uppercase;
}

.info-section p {
  max-width: 600px;
  margin: 0 auto;
}

.info-image {
  margin: 2rem auto 0;
  border-radius: 2rem;
  width: min(100%, 350px);
}

/* ARTIST SECTIONS */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 2rem;

  background-color: var(--text-dark);
  color: var(--text-light);
  border-radius: 999px;

  font-size: 0.9rem;
  text-decoration: none;

  transition: 0.3s ease;
}

.button:hover {
  padding: 1.1rem 2.1rem;
  font-size: 1rem;
}

.artist-card {
  width: min(100%, 320px);
  margin: 2rem auto;

  text-align: left;
}

.artist-card p {
  margin: 0.3rem 0 1rem;
  text-align: left;
}

.artist-card h3 {
  margin: 0;
  text-align: left;
}

.artist-image {
  width: 100%;
  border-radius: 2rem;
  display: block;
  margin-bottom: 0.5rem;
}

.artist-grid {
  display: grid;
  gap: 2rem;

  margin-top: 2rem;
}

.image-grid {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.image-grid img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  object-fit: cover;
  display: block;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .comu-hero {
    height: 60vh;
  }

  .artist-grid {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }

  .image-grid {
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    gap: 3rem;
  }
}
